.body3 {
  background-color: #333333;
  height: 30vh;
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.face {
  color: white;
  font-size: 2rem;
  padding: 1rem;
}
.tem {
  color: white;
  padding-top: 1rem;
}

.name {
  display: flex;
}
@media screen and (max-width: 500px) {
  .face {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .tem {
    color: white;
    padding-top: 1rem;
    font-size: 12px;
  }
}
